.main {
  background-color: white;
  height: 250vh;
  background-color: rgb(255, 253, 249);
}

.space {
  font-size: 80px;
  background-image: url('/images/p_pt_0225_m_pt_022534.jpg');
}

.swiper-container {
  width: 100%;
  height: 400px;
  padding: 0 20px;
  border-bottom: solid 4px #5B5041;
  background-image: url('/images/p_pt_0225_m_pt_022537.jpg');
}

.sl-image {
  width: 95%;
  height: 90%;
  border-radius: 20px 20px ;
}

.index-info {
  height: 300px;
  width: 100%;
}

.info-box {
  margin: 0 auto;
  margin-top: 30px;
  height: 90%;
  width: 80%;
  display: flex;
  border: solid 2px rgb(153, 152, 152);
  border-radius: 20px;
}

.left-info {
  width: 20%;
  height: 73%;
  margin-top: 40px;
  text-align: center;
  // background-color: gray;
  border-right: rgb(153, 152, 152) 2px solid;
  

  & p {
    font-size: 25px;
    text-align: center;
    margin: 34% 0;
    color: rgb(61, 60, 60);
  }
}

.right-info {
  width: 80%;
  height: 100%;
  margin-top: 15px;
  // background-color: gainsboro;
}

table, th, td {
  border-collapse: collapse;
  border-bottom: 1px solid black;
  font-size: 23px;
  color: rgb(61, 60, 60);
  padding: 10px;
  // width: 400px;
  margin: 20px 0 0 25px;
}

.td-valu {
  // margin-left: 50px;
  text-align: left;
  padding-right: 100px;
}

table {
  overflow: scroll;
  height: 10px;
}

td {
  text-align: center;
}

.character {
  height: 300px;
  width: 100%;
  background-color: thistle;
  margin-bottom: 20px;
  // margin: 5%;
}

.chara-box {
  width: 80%;
  height: 80%;
  background-color: tomato;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  position: relative;
}

.perso-label {
  position: absolute;
  top: 25%;
  height: 300px;
  width: 100%;
  background-color: rgb(96, 176, 179);
}

.plz-login {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 120px;
}

.left-bar {
  background-color: white;
  width: 27%;
  height: 85vh;
  display: flex;
  justify-content: flex-end;
}

.left-cont {
  height: 100%;
  background-color:rgb(225, 243, 189);
  width: 80%;
}

.personality {
  background-color: #ffffff;
  width: calc(100vw - 54%);
  display: flex;
  flex-wrap: wrap;

  & div {
    background-color: rgb(206, 236, 248);
    height: 30%;
    width: 45%;
    margin: 10px auto;
  }
}

.right-bar {
  background-color: white;
  width: 27%;
  height: 85vh;
  display: flex;
  justify-content: flex-start;
}

.right-cont {
  height: 100%;
  background-color:rgb(225, 243, 189);
  width: 80%;
}


