.main {
  background-color: white;
  height: 200vh;
  background-color: rgb(253, 249, 243);
}

.space {
  font-size: 80px;
  background-image: url('/images/p_pt_0225_m_pt_022534.jpg');
}

.swiper-container {
  width: 100%;
  height: 400px;
  padding: 0 20px;
  border-bottom: solid 4px #5B5041;
  background-image: url('/images/p_pt_0225_m_pt_022537.jpg');
}

.sl-image {
  width: 95%;
  height: 90%;
  border-radius: 20px 20px ;
}

.index-info {
  height: 300px;
  background-color: seashell;
  width: 100%;
}

.info-box {
  margin: 0 auto;
  margin-top: 30px;
  background-color: gold;
  height: 90%;
  width: 80%;
}

.wrapper {
  display: flex;
}

.left-bar {
  background-color: white;
  width: 27%;
  height: 85vh;
  display: flex;
  justify-content: flex-end;
}

.left-cont {
  height: 100%;
  background-color:yellowgreen;
  width: 80%;
}

.personality {
  background-color: #ffffff;
  width: calc(100vw - 54%);
  display: flex;
  flex-wrap: wrap;

  & div {
    background-color: sienna;
    height: 30%;
    width: 45%;
    margin: 10px auto;
  }
}

.right-bar {
  background-color: white;
  width: 27%;
  height: 85vh;
  display: flex;
  justify-content: flex-start;
}

.right-cont {
  height: 100%;
  background-color:yellowgreen;
  width: 80%;
}


